html{
	background-color:rgb(255, 240, 227);
	/*background-image:url("texture_paper.jpg");*/
	
}
nav{
	padding-left:0%;
	padding-right:0%;
	font-family:Helvetica;
	width:90%;
	font-size:40px;
	color:rgba(255,255,255,0.8);
	position:fixed;
	
}
nav a{
	color:rgba(255,255,255,0.8);
}
nav a:hover{
	color:rgba(255,255,255,0.8);
	text-shadow:2px 2px 3px pink,2px -2px 3px pink,-2px 2px 3px pink,-2px -2px 3px pink;
}
nav div#left{
	padding-left:5%;
	height:60px;
	width:80%;
	background-image:url("texture_wood.jpg");
	outline-style:ridge;
	outline-width:10px;
	outline-color:rgba(0,0,0,0.5);
	
}
body{
	margin:0px;
}
section{
	padding-top:5%;
	margin-left:5%;
	margin-right:5%;
}
th{
	background-color:pink;
	font-size:20;
	color:black;
}
td{
	font-size:20;
	color:grey;
}
td:hover{
	color:pink;
}
footer{
	clear:both;
	height:200px;
	margin-left:5%;
	margin-right:5%;
}
#splashpic{
	font-size:60px;
	font-family:Luminari;
	text-shadow:3px 3px 9px pink,3px -3px 9px pink,-3px 3px 9px pink,-3px -3px 9px pink;
	color:white;
	clear:both;
	text-align:left;
	margin:auto;
	padding:50px;
	background-image:url('temp.jpg');
	background-size:cover;
}
#left{
	float:left;
}
#right{float:right;}
#words{
font-size:24px;}
#putin input{
	border:1px solid blue;
	border-radius:5px;
	float:left;
}
#feetlogo{
	font-size:50px;
	text-shadow:2px 2px 6px pink,2px -2px 6px pink,-2px 2px 6px pink,-2px -2px 6px pink;
	color:white;
}