html{
	margin-left:10%;
	margin-right:10%;
}
nav{
	width:80%;
	font-size:30px;
	position:fixed;
	background-color:white;
	outline-width:1px;
	outline-style:solid;
}
footer{
	
	
}

#splashpic{
	font-size:80px;
	color:white;
	clear:both;
	text-align:center;
	margin:auto;
	padding:50px;
	background-image:url('temp.jpg');
	background-size:cover;
}
#left{
	float:left;
}
#right{float:right;}

